<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout12="http://www.ultraq.net.nz/web/thymeleaf/layout">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block layout12:fragment="title">
    调拨管理-一线调拨管理
</th:block>
<th:block layout:fragment="content">
    <el-row class="fn-mb10">
        <el-col>
            <el-breadcrumb separator=">>">
                <el-breadcrumb-item>仓库管理</el-breadcrumb-item>
                <el-breadcrumb-item>调拨管理</el-breadcrumb-item>
                <el-breadcrumb-item><a>一线调拨管理</a></el-breadcrumb-item>
            </el-breadcrumb>
        </el-col>
    </el-row>
</th:block>

<script>

</script>
</body>
</html>