<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<!--<context:property-placeholder location="classpath:name.properties"></context:property-placeholder>-->
	<!--<context:component-scan base-package="com.zhouheng.comspringsource.controller"></context:component-scan>-->
	<bean id="person" class="com.zhouheng.comspringsource.pojo.dto.Person"  scope="prototype" lazy-init="false" init-method="init" destroy-method="destsory">
		<!--<property name="age" value="22"></property>-->
		<!--<property name="name" value="zhangsan"></property>-->
	</bean>

	<!--开启基于AOP的注解功能-->
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>

    <!--开始事物-->
    <!--<tx:annotation-driven></tx:annotation-driven>-->

</beans>
